{{ ansible_managed | comment }}

#############################################################
# GENERAL SETTINGS
visible_hostname {{ squid_visible_hostname }}
http_port {{ squid_port }}
coredump_dir {{ squid_core_dump_dir }}
{% if squid_via is defined and squid_via | length > 0 %}
via {{ squid_via }}
{% endif %}

# Resource limits
max_filedescriptors {{ squid_max_filedescriptors }}
{% if squid_cache_mem is defined and squid_cache_mem | length > 0 %}
cache_mem {{ squid_cache_mem }}
{% endif %}
{% if squid_memory_pools is defined and squid_memory_pools | length > 0 %}
memory_pools {{ squid_memory_pools }}
{% endif %}
{% if squid_workers is defined %}
workers {{ squid_workers }}
{% endif %}
{% if squid_maximum_object_size_in_memory is defined and squid_maximum_object_size_in_memory | length > 0 %}
maximum_object_size_in_memory {{ squid_maximum_object_size_in_memory }}
{% endif %}
{% if squid_maximum_object_size is defined and squid_maximum_object_size | length > 0 %}
maximum_object_size {{ squid_maximum_object_size }}
{% endif %}

# HTTP and SSL settings
httpd_suppress_version_string {{ squid_httpd_suppress_version_string }}
{% if squid_client_persistent_connections is defined and squid_client_persistent_connections | length > 0 %}
client_persistent_connections {{ squid_client_persistent_connections }}
{% endif %}
{% if squid_server_persistent_connections is defined and squid_server_persistent_connections | length > 0 %}
server_persistent_connections {{ squid_server_persistent_connections }}
{% endif %}
{% if squid_connect_timeout is defined and squid_connect_timeout | length > 0 %}
connect_timeout {{ squid_connect_timeout }}
{% endif %}
{% if squid_request_timeout is defined and squid_request_timeout | length > 0 %}
request_timeout {{ squid_request_timeout }}
{% endif %}
{% if squid_read_timeout is defined and squid_read_timeout | length > 0 %}
read_timeout {{ squid_read_timeout }}
{% endif %}
{% if squid_client_lifetime is defined and squid_client_lifetime | length > 0 %}
client_lifetime {{ squid_client_lifetime }}
{% endif %}

# DNS
{% if squid_dns_nameservers is defined and squid_dns_nameservers | length > 0 %}
dns_nameservers {{ squid_dns_nameservers }}
{% endif %}
{% if squid_dns_timeout is defined and squid_dns_timeout | length > 0 %}
dns_timeout {{ squid_dns_timeout }}
{% endif %}
{% if squid_positive_dns_ttl is defined and squid_positive_dns_ttl | length > 0 %}
positive_dns_ttl {{ squid_positive_dns_ttl }}
{% endif %}
{% if squid_negative_ttl is defined and squid_negative_ttl | length > 0 %}
negative_ttl {{ squid_negative_ttl }}
{% endif %}
{% if squid_forwarded_for is defined and squid_forwarded_for | length > 0 %}
forwarded_for {{ squid_forwarded_for }}
{% endif %}

#############################################################
# DEFINE ACLS

{% for item in squid_acls %}
acl {{ item.name }} {{ item.type }} {{ item.value }} #{{item.comment | default("") }}
{% endfor %}

#############################################################
# DEFINE HTTP ACCESS RULES

{% for item in squid_http_access %}
http_access {{ item.access }} {{ item.type | default("") }} {{ item.scope }}
{% endfor %}

{% for item in squid_always_direct %}
always_direct {{ item.access }} {{ item.value }}
{% endfor %}

{% if squid_deny_info is defined and squid_deny_info | length > 0 %}
deny_info {{ squid_deny_info }}
{% endif %}

{% if squid_cache_enable is defined and squid_cache_enable is sameas true %}
#############################################################
# DEFINE CACHE

cache_dir {{ squid_cache_dir }}
{% if squid_cache_replacement_policy is defined and squid_cache_replacement_policy | length > 0 %}
cache_replacement_policy {{ squid_cache_replacement_policy }}
{% endif %}
{% endif %}

#############################################################
# DEFINE REFRESH

refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	1440

{% if squid_snmp_enable is defined and squid_snmp_enable is sameas true %}
#############################################################
# DEFINE SNMP
snmp_port {{ squid_snmp_port }}
snmp_access allow snmppublic {{ squid_snmp_community }}
snmp_access deny all
snmp_incoming_address {{ squid_snmp_incoming_address }}
{% endif %}

#############################################################
# DEFINE LOGS

{% if squid_error_directory is defined and squid_error_directory | length > 0 %}
error_directory {{ squid_error_directory }}
{% endif %}
access_log {{ squid_log_access }}
cache_log {{ squid_log_cache }}
{% if squid_log_store is defined and squid_log_store | length > 0 %}
cache_store_log {{ squid_log_store }}
{% endif %}
{% if squid_log_format is defined and squid_log_format | length > 0 %}
logformat readable {{ squid_log_format }}
{% endif %}

{% if squid_various is defined and squid_various | length > 0 %}
#############################################################
# DEFINE VARIOUS
{{ squid_various }}
{% endif %}
